body {
    background-color: black;
    
}
#head {
     text-align: center;
    font-family: 'Arimo', sans-serif;
    color: Crimson;
    font-size: 75px;
    border-bottom: 10px solid crimson;
    border-top: 10px solid crimson;
    

}
.otherHeads {
     text-align: left;
    font-family: 'Arimo', sans-serif;
    color: crimson;
    font-size: 40px;
    text-decoration: underline;
}
ul {
     font-family: 'Arimo', sans-serif;
     color: crimson;
     font-size: 25px;
     list-style-type: square;
     
}
ul li span {
    color: dimgray;
}
img {
    height: 200px;
}
#papaMurphy {
    height:130px;
    width: 325px;
    padding-right: 50px;
}
#numba {
     font-family: 'Arimo', sans-serif;
     color: crimson;
} 
#logout{
 display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#logout:hover {background-color: #b6123f}

#logout:active {
    background-color: #b6123f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}